div{
	border: 1px solid red;
	height: 250px;
	width: 200px;				
	padding: 8x 8px;
	
}

div{
	border: 1px solid red;
	height: 250px;
	width: 200px;				
	padding: 8px 8px;
}

div{
	border: 1px solid red;
	height: 250px;
	width: 200px;				
	padding: 8px 8px;
}